@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Aldrich&family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Display:ital@0;1&family=Kalam:wght@300;400;700&family=Kaushan+Script&family=Kode+Mono:wght@400..700&family=Merienda:wght@300..900&family=Permanent+Marker&family=Rock+Salt&family=Satisfy&family=Ultra&display=swap');

* {
    margin: 0.1px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: white ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
header {
    background-image: url(../imagens/background005.jpg);
    background-position: top bottom;
    background-attachment: fixed;
    color: #022601;
    margin-bottom: 13px;  
}

header div {
    text-align: right;
   
}

#livro {
    
    padding-top: 42px;
    padding-right: 43px;
    width: 137px;          
}

 h1 {
    padding-top: 30px;
    font-variant: small-caps;   
    font-weight: 700;
    font-style: normal;
    font-size: 8vw;
    color: rgb(209, 243, 155);
    text-shadow: 2px 1px 13px rgb(4, 24, 2);
    text-align: center;      
}

.header-p {
    padding-bottom: 30px;
    color: rgb(209, 243, 155);
    text-shadow: 2px 1px 13px rgb(4, 24, 2);
    font-variant: small-caps;
    font-weight: bold;
    text-align: right; 
    font-size: 1vw;   
}

.header-p:not(a) {
    font-size: 3.3vh;
    padding-right: 34px;
}

header p > a {
    color:#da1212d0;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:4vw;  
    text-decoration: none;
    text-shadow: 1px 1px 2px yellow;  
    /*text-shadow: 1px 1px 14px#e2b324c7; */
    padding-left:5px ;
    
}

header p a:hover {
    color:rgb(243, 243, 69);
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    padding: .5px 3px;
    transition:2s ;
}
/*
header p a:visited {
    color:rgba(195, 214, 163, 0.411);
    text-shadow: 1px 1px 2px#e2b324c7; 
    
}
*/
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 4.1vw;
    
}


section.normal, .imagem {
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
}

section.imagem {
    background-attachment: fixed;
}

section.normal p {
    padding: 0 10px;
    padding-bottom: 2em;
}


section.imagem  p {
    display: inline-block;
    background-color: rgba(195, 214, 163, 0.74);
    color:#022601;
    text-shadow: 1px 1px 7px rgb(94, 94, 1); 
    padding: 0 10px;  

}

section#img001 {
    background-image: url(../imagens/background004.jpg);
    background-position: top center;
    text-shadow: #022601;
    background-size: cover;
    box-shadow: 4px 4px 13px 0px #010e00 ;
}

#img002 {
    background-image: url(../imagens/background003.jpg);
   
    background-position:left top ;
    background-size: cover;
    box-shadow: 4px 4px 13px 0px #022601 ;
}



#repeatImg {
    background-image: url(../imagens/background001.jpg);
    background-position: center bottom;
    text-shadow: #022601;
    background-size: cover;
    padding-bottom: 12px;
    margin-bottom: -12px;
    box-shadow: 4px 4px 13px 0px #022601 ;
}

footer {
   
    background-image: url(../imagens/background006.jpg);
    background-position: top right;
    color: rgba(195, 214, 163, 0.74);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    margin-top: 25px;
    color: rgb(209, 243, 155);
    text-shadow: 2px 1px 13px rgb(105, 187, 97);
    font-size: 2.3vw;
    
   
}

footer p {
    
    padding: 15px 5px 3px 13px;
}

.footer-p-a {
    color:#da1212d0;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-shadow: 1px 1px 1px yellow;
    padding-left:5px ;
    font-size: 2.1vw;
}


footer p a:hover {
    
    color:#F2B705;
    text-decoration: underline;
    text-shadow: 1px 2px 1px rgba(195, 214, 163, 0.411);
    padding: .5px 3px;
    transition:2s;
}
footer p a:visited {
    color:rgba(195, 214, 163, 0.411);
    text-shadow: 1px 1px 2px#e2b324c7; 
    
}

footer > img {
    padding-top: -15px;
    padding-bottom: 13px;
    
}
